<footer class="text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
        <div class="me-5">
            <span>Contáctame en mis redes sociales:</span>
        </div>
        <div>
            <a href="mailto:ccalderon.tech@gmail.com" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://www.linkedin.com/in/carlos-iv%C3%A1n-calder%C3%B3n/" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/iCharly666/portafolio" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <section>
        <div class="text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Compañia</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p class="text-justify">Portafolio de uso profesional, mi nombre completo es Carlos Iván Calderón García. Este es un lindo desarrollo sin fines de lucro, cuya finalidad es presentar mi trabajo como Ingeniero en desarrollo de software multiplataforma.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Tecnología Utilizadas</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 1px">
                    <p><a href="#!" class="text-white"></a></p>
                    <p><a href="#!" class="text-white">Python</a></p>
                    <p><a href="#!" class="text-white">Framework Django</a></p>
                    <p><a href="#!" class="text-white">SQLite</a></p>
                    <p><a href="#!" class="text-white">JavaScript and others</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Otros proyectos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p><a href="https://snack.expo.dev/@icharly/criptomonedas" class="text-white">React native criptomoneda</a></p>
                    <p><a href="https://snack.expo.dev/@icharly/64a317" class="text-white">Navegación en react native</a></p>
                    <p><a href="https://snack.expo.dev/@icharly/combinada" class="text-white">Scrolls react native</a></p>
                    <p><a href="https://snack.expo.dev/@icharly/uplifting-turkish-delight" class="text-white">Align items de react native</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Mi Contacto</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p><i class="fas fa-home mr-3"></i> Morelia, Michoacán 58149, MEX</p>
                    <p><i class="fas fa-envelope mr-3"></i>ccalderon.tech@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> +52 44 35 94 70 88</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy; 2023 Carlos Iván Calderón García. Todos los derechos reservados. | Contacto: ccalderon.tech@gmail.com | Teléfono: +52 4435947088
    </div>
</footer>