{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="container-fluid bg-white p-2 mb-2 mt-2 rounded">
        <!-- Content here -->

        <!-- Encabezado -->
        <header class="bg-dark text-white">
            <div class="container-fluid mb-5">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h1 class="display-4 text-light mb-4 text-center text-md-left text-truncate w-100">MiPortafolio
                            (En construcción)</h1>
                        <hr class="bg-light">
                        <p class="lead text-light text-center text-md-left">Bienvenido</p>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contenido principal -->
        <main>
            <div class="container mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'image/homeworks.png' %}" alt="Foto de perfil"
                                class="rounded-circle img-fluid perfil-image">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h2>Ing.Carlos Calderón</h2>
                        <p class="bold">Ingeniero en IT</p>
                        <p class="text-justify">Soy un apasionado programador con experiencia en desarrollo web y
                            aplicaciones
                            móviles. Me encanta resolver problemas y crear soluciones innovadoras utilizando tecnologías
                            de vanguardia.
                            Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades.</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Habilidades Técnicas</h2>
                        <div class="text-right">
                            <i class="fa-solid fa-chevron-up"></i>
                        </div>
                        <div class="scroll-list">
                            <div class="card card-no-margin habilidades__container">
                                <div class="card-body">
                                    <span class="badge bg-light">Python</span>
                                    <span class="badge bg-light">Django</span>
                                    <span class="badge bg-light">JavaScript</span>
                                    <span class="badge bg-light">SQL</span>
                                    <span class="badge bg-light">GitHub</span>
                                    <span class="badge bg-light">PHP</span>
                                    <span class="badge bg-light">Java</span>
                                    <span class="badge bg-light">React Native</span>
                                    <span class="badge bg-light">HTML5</span>
                                    <span class="badge bg-light">CSS</span>
                                    <span class="badge bg-light">Bootstrap</span>
                                    <span class="badge bg-light">Camtasia studio</span>
                                    <span class="badge bg-light">Paqueteria de office</span>
                                    <span class="badge bg-light">Conocimientos técnicos CFDI 4.0</span>
                                </div>
                            </div>
                            <div class="text-right">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                    
                    





                </div>

                <hr class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="/projects" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Mis proyectos"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis proyectos</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Tareas"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis tareas</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Imagen 3"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Sobre mi</div>
                            </a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="/foros" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Imagen 4"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Foros</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}