{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="container-fluid bg-white p-2 mb-2 mt-2 rounded">
        <!-- Content here -->

        <!-- Encabezado -->
        <header class="bg-dark text-white">
            <div class="container-fluid mb-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="display-4 text-light mb-4">MiPortafolio</h1>
                        <hr class="bg-light">
                        <p class="lead text-light">Bienvenido</p>
                    </div>

                    <div class="col-md-6 text-md-right text-center">
                        <a href="/login" class="btn btn-primary mr-md-2 mb-2">Iniciar sesión</a>
                        <a href="/register" class="btn btn-outline-primary mb-2">Registrarse</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contenido principal -->
        <main>
            <div class="container mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'image/homeworks.png' %}" alt="Foto de perfil"
                                class="rounded-circle img-fluid perfil-image">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h2>Ing.Carlos Calderón</h2>
                        <p class="bold">Ingeniero en IT</p>
                        <p class="text-justify">Soy un apasionado programador con experiencia en desarrollo web y
                            aplicaciones
                            móviles. Me encanta resolver problemas y crear soluciones innovadoras utilizando tecnologías
                            de vanguardia.
                            Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades.</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Habilidades Técnicas</h2>
                        <div class="text-right">
                            <i class="fa-solid fa-chevron-up"></i>
                        </div>
                        <div class="scroll-list">
                            <ul id="skills-list" class="list-group text-center"
                                style="max-height: 200px; overflow-y: scroll;">
                                <li class="list-group-item list-group-item-primary">HTML5</li>
                                <li class="list-group-item list-group-item-success">CSS</li>
                                <li class="list-group-item list-group-item-info">Bootstrap</li>
                                <li class="list-group-item list-group-item-warning">JavaScript</li>
                                <li class="list-group-item list-group-item-danger">Python</li>
                                <li class="list-group-item list-group-item-dark">Django</li>
                                <li class="list-group-item list-group-item-secondary">SQL</li>
                                <li class="list-group-item list-group-item-light">PHP</li>
                            </ul>
                            <div class="text-right">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="/projects" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Mis proyectos"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis proyectos</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Tareas"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis tareas</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Imagen 3"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Sobre mi</div>
                            </a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Imagen 4"
                                    class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Otros</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}