{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="container-fluid bg-white p-2 mb-2 mt-2 rounded">
        <!-- Content here -->

        <!-- Encabezado -->
        <header class="custom_headercolor text-white shadow-purple rounded">
            <div class="container-fluid mb-5">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h1 class="display-5 text-light m-2 text-center text-md-left text-truncate w-100">MiPortafolio</h1>
                        <hr class="bg-light">
                        <p class="lead text-light text-center text-md-left">Bienvenido</p>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contenido principal -->
        <main>
            <div class="container mb-5">
                <div class="container mb-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'image/homeworks.png' %}" alt="Foto de perfil" class="rounded-circle img-fluid perfil-image shadow-purple ">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 mb-2">
                        <div class="card shadow-purple h-100">
                            <div class="card-body">
                                <h2 class="card-title mb-3">Ing. Carlos Calderón</h2>
                                <h5 class="card-subtitle mb-3">IT - DESARROLLO Y GESTIÓN DE SOFTWARE</h5>
                                <p class="card-text text-justify">Soy un apasionado programador con experiencia en desarrollo web y aplicaciones móviles. Me encanta resolver problemas y crear soluciones innovadoras utilizando tecnologías de vanguardia. Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades.</p>
                                <div class="accordion" id="experiencia-accordion">
                                    <div class="card">
                                        <div class="card-header" id="experiencia-heading">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#experiencia-collapse" aria-expanded="false" aria-controls="experiencia-collapse">
                                                    Experiencia Laboral
                                                    <i class="fas fa-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="experiencia-collapse" class="collapse" aria-labelledby="experiencia-heading" data-parent="#experiencia-accordion">
                                            <div class="card-body">
                                                <div class="scroll-list_experiencia_laboral">
                                                    <ul class="list-group">
                                                        <li class="list-group-item text-justify">2023-07 - 2024-09 - Analista TI (1 año 2 meses)</li>
                                                        <li class="list-group-item text-justify">2022-04 - 2022-09 - Ingeniero de soporte técnico (6 meses)</li>
                                                        <li class="list-group-item text-justify">2022-01 - 2022-04 - Estancias de Ingeniería (4 meses)</li>
                                                        <li class="list-group-item text-justify">2014-01 - 2022-04 - Soporte Técnico (8 años)</li>
                                                        <!-- Agrega más elementos de la lista aquí -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-2">
                        <div class="card shadow-purple h-100">
                            <div class="card-body">
                                <h2 class="card-title mb-3">Habilidades Técnicas</h2>
                                <div class="scroll-list">
                                    <div class="text-right">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </div>
                                    <div class="card card-no-margin habilidades__container">
                                        <div class="card-body">
                                            <span class="badge bg-primary text-white m-1">Python</span>
                                            <span class="badge bg-danger text-white m-1">Django</span>
                                            <span class="badge bg-warning text-white m-1">JavaScript</span>
                                            <span class="badge bg-info text-white m-1">SQL</span>
                                            <span class="badge bg-secondary text-white m-1">GitHub</span>
                                            <span class="badge bg-success text-white m-1">PHP</span>
                                            <span class="badge bg-dark text-white m-1">Java</span>
                                            <span class="badge bg-primary text-white m-1">React Native</span>
                                            <span class="badge bg-warning text-white m-1">HTML5</span>
                                            <span class="badge bg-info text-white m-1">CSS</span>
                                            <span class="badge bg-secondary text-white m-1">Bootstrap</span>
                                            <span class="badge bg-success text-white m-1">Camtasia studio</span>
                                            <span class="badge bg-danger text-white m-1">Microsoft Office</span>
                                            <span class="badge bg-primary text-white m-1">CFDI 4.0</span>
                                            <span class="badge bg-danger text-white m-1">cPanel</span>
                                            <span class="badge bg-warning text-white m-1">Gestion de correo</span>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="/projects" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Mis proyectos" class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis proyectos</div>
                            </a>
                        </div>

                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Tareas" class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Mis tareas</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="https://via.placeholder.com/500" target="_blank">
                                <img src="{% static 'image/homeworks.png' %}" alt="Imagen 3" class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Sobre mi</div>
                            </a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="/foros" target="_blank">
                                <img src="{% static 'image/projects_sw.png' %}" alt="Imagen 4" class="img-fluid img-opacity rounded">
                                <div class="text-overlay">Foros</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Sección de contacto -->
                <div class="container mb-5">
                    <h2 class="text-center mb-4">Contacto</h2>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <form>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Tu nombre">
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico">
                                </div>
                                <div class="form-group">
                                    <label for="message">Mensaje</label>
                                    <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h3 class="text-center">Sígueme en mis redes sociales</h3>
                            <div class="text-center">
                                <a href="https://github.com/iCharly666/portafolio" target="_blank" class="btn btn-dark m-1"><i class="fab fa-github"></i> GitHub</a>
                                <a href="https://www.linkedin.com/in/carlos-iv%C3%A1n-calder%C3%B3n/" target="_blank" class="btn btn-primary m-1"><i class="fab fa-linkedin"></i> LinkedIn</a>
                                <!-- Agrega más enlaces a redes sociales si es necesario -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}