{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Registro</h5>
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Ingresa tu nombre de usuario">
                        </div>
                        <div class="form-group">
                            <label for="id_email">Correo electrónico:</label>
                            <input type="email" class="form-control" id="id_email" name="email" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Contraseña:</label>
                            <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Confirmar contraseña:</label>
                            <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirma tu contraseña">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="id_privacy-checkbox" name="privacy_checkbox">
                            <label class="form-check-label" for="id_privacy-checkbox">He leído y acepto el aviso de privacidad</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
