/* Hoja de estilos */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #1d1d20;
}

/*
.footer {
    background-color: gray;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
*/
.perfil-image {
    width: 150px;
    height: 150px;
  }
  
/*Scroll de habilidades técnicas en el index*/

.scroll-list {
    position: relative;
}

.scroll-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.scroll-icon.down {
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
}

/* navbar color*/
.tone_purple {
    background-color: #6351ce;
}

/* blur para imagenes
.img-blur {
    filter: blur(2px);
} /* Ajusta el valor según el nivel de desenfoque deseado */

.img-opacity {
    opacity: 0.7; /* Ajusta el valor entre 0 (totalmente transparente) y 1 (totalmente opaco) */
  }


/*textos superpuestos en las imagenes del index. */
.text-overlay {
    position: absolute; /* Posiciona el elemento de manera absoluta dentro del contenedor */
    top: 50%; /* Coloca el elemento en la mitad de la altura del contenedor */
    left: 50%; /* Coloca el elemento en la mitad del ancho del contenedor */
    transform: translate(-50%, -50%); /* Centra el elemento en relación con su posición */
    background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente al texto */
    color: white; /* Cambia el color del texto a blanco */
    padding: 10px; /* Agrega un espacio de relleno alrededor del texto */
    font-weight: bold; /* Opcional: Agrega negrita al texto */
  }

/* contenedor de proyectos.html*/
  .container {
    margin-top: 50px;
  }


#resultado {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
  }

#resultadoCalculadora {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
  }

  .btn-container {
    margin-top: 10px;
  }