{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Foros</h1>
  <div class="row">
    {% for categoria in categorias %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        {% if categoria.imagen %}
        <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="{{ categoria.nombre }}">
        {% else %}
        <div class="no-imagen">No hay imagen disponible</div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ categoria.nombre }}</h5>
          <p class="card-text">{{ categoria.descripcion }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-primary">Editar</a>
          <a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-danger">Eliminar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <a href="{% url 'crear_categoria' %}" class="btn btn-primary btn-block">Agregar Categoría</a>
    </div>
  </div>
  
</div>
{% endblock %}
